$this: 'c-button' !global;

.#{$this} {
  background-color: transparent;
  border: 1px solid $black;
  font: {
    size: 20px;
    family: $font-regular;
  }
  box-shadow: none;
  cursor: pointer;
  padding: 10px 20px;
}
