$this: 'c-card' !global;

.#{$this} {
  list-style: none;
  position: relative;
  max-width: 200px;

  &__title {
    font: {
      size: 20px;
      weight: bold;
      family: $font-regular;
    }
    text-align: center;
    margin: 5px 0 0 0;
  }

  &__genre {
    font: {
      size: 16px;
      style: italic;
      family: $font-regular;
    }
    text-align: center;
  }

  &__circle {
    background-color: $black;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    padding: 5px;
  }

  &__rating {
    color: $white;
    font: {
      size: 16px;
      family: $font-regular;
    }
  }

  &__image {
    width: 200px;
    height: 300px;
  }
}
