$this: 'c-heading' !global;

.#{$this} {
  background-color: $black;
  text-align: center;
  padding: 10px;

  @include breakpoint('>=', 'ms') {
    padding: 40px;
  }

  &__text {
    color: $white;
    font: {
      size: 30px;
      family: $font-regular;
    }
    margin: 0;

    @include breakpoint('>=', 'ms') {
      font-size: 40px;
    }
  }
}
